body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../视界时间轴_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:568px;
}

.u0 {
    position:absolute;
    left:83px;
    top:106px;
    width:10px;
    height:568px;
    
}

.u1_menu {
    background-image: url('../视界时间轴_files/u1_menu.png');
}

.u1_menu {
    position:absolute;
    left:22px;
    top:83px;
    width:136px;
    height:38px;
}

#u1_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u2 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u3_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u3_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:98px;
    top:123px;
    width:429px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_menu {
    background-image: url('../视界时间轴_files/u6_menu.png');
}

.u6_menu {
    position:absolute;
    left:22px;
    top:250px;
    width:136px;
    height:38px;
}

#u6_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u7 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u8_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:98px;
    top:296px;
    width:429px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_menu {
    background-image: url('../视界时间轴_files/u11_menu.png');
}

.u11_menu {
    position:absolute;
    left:22px;
    top:363px;
    width:136px;
    height:38px;
}

#u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u12 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u13_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:98px;
    top:412px;
    width:429px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_menu {
    background-image: url('../视界时间轴_files/u16_menu.png');
}

.u16_menu {
    position:absolute;
    left:22px;
    top:514px;
    width:136px;
    height:38px;
}

#u16_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u17 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u18_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:98px;
    top:556px;
    width:429px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../视界时间轴_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:22px;
    top:642px;
    width:136px;
    height:38px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u23_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:98px;
    top:685px;
    width:429px;
    height:480px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../视界时间轴_files/u26_menu.png');
}

.u26_menu {
    position:absolute;
    left:612px;
    top:724px;
    width:134px;
    height:38px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:35px;
}

#u27 {
    position:absolute;
    left:3px;
    top:3px;
    width:124px;
    height:28px
}

.u28_mouseOver {
    background-image: url('../视界时间轴_files/u28_mouseOver.png');
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:23px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:29px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:681px;
    top:766px;
    width:152px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_menu {
    background-image: url('../视界时间轴_files/u31_menu.png');
}

.u31_menu {
    position:absolute;
    left:612px;
    top:805px;
    width:136px;
    height:38px;
}

#u31_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u32 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u33_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:681px;
    top:847px;
    width:152px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_menu {
    background-image: url('../视界时间轴_files/u36_menu.png');
}

.u36_menu {
    position:absolute;
    left:612px;
    top:897px;
    width:136px;
    height:38px;
}

#u36_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u37 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u38_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u38_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:681px;
    top:939px;
    width:152px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_menu {
    background-image: url('../视界时间轴_files/u41_menu.png');
}

.u41_menu {
    position:absolute;
    left:612px;
    top:1007px;
    width:136px;
    height:38px;
}

#u41_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:35px;
}

#u42 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:28px
}

.u43_mouseOver {
    background-image: url('../视界时间轴_files/u3_mouseOver.png');
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:23px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:681px;
    top:1049px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:681px;
    top:685px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:25px;
    top:9px;
    width:293px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

