body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:540px;
  height:890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:184px;
  top:30px;
  width:212px;
  height:37px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:77px;
  width:490px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u5 {
  position:absolute;
  left:238px;
  top:790px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:82px;
  top:130px;
  width:127px;
  height:468px;
  font-size:14px;
  text-align:right;
  line-height:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:468px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:250px;
  top:136px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:250px;
  top:211px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:250px;
  top:174px;
  width:200px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:250px;
  top:246px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:250px;
  top:281px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:250px;
  top:316px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:260px;
  top:508px;
  width:190px;
  height:5px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:5px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-6px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:504px;
  width:14px;
  height:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:442px;
  top:504px;
  width:14px;
  height:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:250px;
  top:533px;
  width:50px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:350px;
  top:533px;
  width:50px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:310px;
  top:543px;
  width:30px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u25 {
  position:absolute;
  left:250px;
  top:573px;
  width:200px;
  height:81px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:720px;
  top:50px;
  width:280px;
  height:176px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:176px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:215px;
  top:710px;
  width:205px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:250px;
  top:355px;
  width:200px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:250px;
  top:389px;
  width:200px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:250px;
  top:429px;
  width:100px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:360px;
  top:429px;
  width:100px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:250px;
  top:461px;
  width:200px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:460px;
  top:435px;
  width:200px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u38 {
  position:absolute;
  left:673px;
  top:407px;
  width:280px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:673px;
  top:433px;
  width:47px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:730px;
  top:438px;
  width:14px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:20px;
  top:1040px;
  width:540px;
  height:420px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:420px;
}
#u44 {
  position:absolute;
  left:2px;
  top:202px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:182px;
  top:1270px;
  width:222px;
  height:32px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:32px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:182px;
  top:1188px;
  width:200px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:182px;
  top:1220px;
  width:300px;
  height:32px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:68px;
  top:1180px;
  width:94px;
  height:89px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:89px;
}
#u52 {
  position:absolute;
  left:2px;
  top:36px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
