body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:fixed;
    left:0px;
    top:0px;
    width:201px;
    height:689px;
    overflow:hidden;
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:689px;
    
}

.u1_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:363px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:369px;
}

.u2 {
    position:absolute;
    left:2px;
    top:174px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:49px;
    top:344px;
    width:105px;
    height:114px
}

.u4_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:37px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:37px;
    width:100px;
    height:37px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../案例_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:42px;
    top:338px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:42px;
    top:377px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u12 {
    position:absolute;
    left:42px;
    top:416px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13_normal {
    background-image: url('../案例_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:9px;
    top:10px;
    width:16px;
    height:16px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:35px;
    top:10px;
    width:74px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../案例_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:60px;
    top:64px;
    width:80px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:50px;
    top:170px;
    width:105px;
    height:150px
}

.u19_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:37px;
    width:100px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../案例_files/u8_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../案例_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:109px;
    width:100px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u27 {
    position:absolute;
    left:42px;
    top:164px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u28 {
    position:absolute;
    left:42px;
    top:203px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u29 {
    position:absolute;
    left:42px;
    top:242px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u30 {
    position:absolute;
    left:42px;
    top:281px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:689px;
    
}

.u31_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:688px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:694px;
}

.u32 {
    position:absolute;
    left:2px;
    top:336px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../案例_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:11px;
    top:90px;
    width:176px;
    height:80px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:86px;
}

.u34 {
    position:absolute;
    left:2px;
    top:28px;
    width:172px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:49px;
    top:231px;
    width:105px;
    height:150px
}

.u36_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:37px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:37px;
    width:100px;
    height:37px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../案例_files/u8_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:35px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../案例_files/u25_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:109px;
    width:100px;
    height:36px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:42px;
    top:225px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u45 {
    position:absolute;
    left:42px;
    top:264px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u46 {
    position:absolute;
    left:42px;
    top:303px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u47 {
    position:absolute;
    left:42px;
    top:342px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u48_normal {
    background-image: url('../案例_files/u13_normal.png');
}

.u48_container {
    position:absolute;
    left:9px;
    top:10px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:35px;
    top:10px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:689px;
    
}

.u51_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:688px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:694px;
}

.u52 {
    position:absolute;
    left:2px;
    top:336px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../案例_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:11px;
    top:9px;
    width:176px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:18px;
    width:172px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../案例_files/u33_normal.png');
}

.u55_container {
    position:absolute;
    left:11px;
    top:90px;
    width:176px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:86px;
}

.u56 {
    position:absolute;
    left:2px;
    top:28px;
    width:172px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u57 {
    position:absolute;
    left:49px;
    top:231px;
    width:105px;
    height:150px
}

.u58_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:37px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../案例_files/u4_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:37px;
    width:100px;
    height:37px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:43px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../案例_files/u8_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:35px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:41px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../案例_files/u25_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:109px;
    width:100px;
    height:36px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u66 {
    position:absolute;
    left:42px;
    top:225px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u67 {
    position:absolute;
    left:42px;
    top:264px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u68 {
    position:absolute;
    left:42px;
    top:303px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u69 {
    position:absolute;
    left:42px;
    top:342px;
    width:115px;
    height:29px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u70 {
    position:fixed;
    left:0px;
    bottom:0px;
    width:188px;
    height:204px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:204px;
    
}

.u71_normal {
    background-image: url('../案例_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:11px;
    top:0px;
    width:176px;
    height:192px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:198px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:172px;
    height:180px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../案例_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:192px;
    width:27px;
    height:11px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:17px;
}

.u74 {
    position:absolute;
    left:2px;
    top:-2px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

