body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:505px;
  top:222px;
  width:10px;
  height:40px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u1 {
  position:absolute;
  left:490px;
  top:320px;
  width:10px;
  height:44px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u2 {
  position:absolute;
  left:540px;
  top:189px;
  width:221px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:204px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:221px;
  height:1px;
}
#u3 {
  position:absolute;
  left:755px;
  top:194px;
  width:10px;
  height:68px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u4 {
  position:absolute;
  left:755px;
  top:325px;
  width:10px;
  height:35px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u5 {
  position:absolute;
  left:814px;
  top:292px;
  width:477px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:460px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:477px;
  height:1px;
}
#u6 {
  position:absolute;
  left:886px;
  top:297px;
  width:10px;
  height:68px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u7 {
  position:absolute;
  left:307px;
  top:189px;
  width:173px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:156px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:173px;
  height:1px;
}
#u8 {
  position:absolute;
  left:302px;
  top:194px;
  width:10px;
  height:68px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u9 {
  position:absolute;
  left:314px;
  top:325px;
  width:10px;
  height:35px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u10 {
  position:absolute;
  left:182px;
  top:297px;
  width:10px;
  height:63px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:63px;
}
#u11 {
  position:absolute;
  left:187px;
  top:292px;
  width:83px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:83px;
  height:1px;
}
#u12 {
  position:absolute;
  left:1018px;
  top:297px;
  width:10px;
  height:68px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u13 {
  position:absolute;
  left:1140px;
  top:297px;
  width:10px;
  height:68px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u14 {
  position:absolute;
  left:599px;
  top:296px;
  width:10px;
  height:67px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:50px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:67px;
}
#u15 {
  position:absolute;
  left:565px;
  top:290px;
  width:40px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u16 {
  position:absolute;
  left:160px;
  top:10px;
  width:70px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u17 {
  position:absolute;
  left:230px;
  top:10px;
  width:10px;
  height:40px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u18 {
  position:absolute;
  left:40px;
  top:10px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:746px;
  top:427px;
  width:10px;
  height:24px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:7px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:24px;
}
#u21 {
  position:absolute;
  left:886px;
  top:425px;
  width:10px;
  height:26px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u22 {
  position:absolute;
  left:1018px;
  top:425px;
  width:10px;
  height:26px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u23 {
  position:absolute;
  left:1300px;
  top:425px;
  width:10px;
  height:65px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:48px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:65px;
}
#u24 {
  position:absolute;
  left:751px;
  top:445px;
  width:395px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:378px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:395px;
  height:1px;
}
#u25 {
  position:absolute;
  left:942px;
  top:450px;
  width:10px;
  height:40px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u26 {
  position:absolute;
  left:174px;
  top:427px;
  width:10px;
  height:63px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:63px;
}
#u27 {
  position:absolute;
  left:290px;
  top:510px;
  width:140px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u28 {
  position:absolute;
  left:462px;
  top:420px;
  width:28px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:471px;
  top:420px;
  width:10px;
  height:64px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u31 {
  position:absolute;
  left:960px;
  top:543px;
  width:10px;
  height:319px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:302px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:319px;
}
#u32 {
  position:absolute;
  left:280px;
  top:427px;
  width:10px;
  height:53px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:53px;
}
#u33 {
  position:absolute;
  left:502px;
  top:536px;
  width:10px;
  height:20px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u34 {
  position:absolute;
  left:536px;
  top:630px;
  width:10px;
  height:30px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u35 {
  position:absolute;
  left:471px;
  top:630px;
  width:10px;
  height:30px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u36 {
  position:absolute;
  left:568px;
  top:555px;
  width:10px;
  height:26px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u37 {
  position:absolute;
  left:435px;
  top:555px;
  width:10px;
  height:24px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:7px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:24px;
}
#u38 {
  position:absolute;
  left:441px;
  top:550px;
  width:132px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u39 {
  position:absolute;
  left:501px;
  top:724px;
  width:10px;
  height:36px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u40 {
  position:absolute;
  left:420px;
  top:901px;
  width:10px;
  height:98px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:81px;
  width:20px;
  height:18px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:98px;
}
#u41 {
  position:absolute;
  left:532px;
  top:817px;
  width:10px;
  height:38px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:21px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:38px;
}
#u42 {
  position:absolute;
  left:1141px;
  top:425px;
  width:10px;
  height:26px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:26px;
}
#u43 {
  position:absolute;
  left:1005px;
  top:970px;
  width:10px;
  height:40px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u44 {
  position:absolute;
  left:930px;
  top:970px;
  width:10px;
  height:40px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u45 {
  position:absolute;
  left:925px;
  top:1054px;
  width:10px;
  height:70px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u46 {
  position:absolute;
  left:790px;
  top:1054px;
  width:10px;
  height:70px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u47 {
  position:absolute;
  left:790px;
  top:1177px;
  width:10px;
  height:40px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u48 {
  position:absolute;
  left:925px;
  top:1172px;
  width:10px;
  height:40px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u49 {
  position:absolute;
  left:790px;
  top:1286px;
  width:10px;
  height:40px;
}
#u49_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u49_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u49_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u50 {
  position:absolute;
  left:925px;
  top:1270px;
  width:10px;
  height:56px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:39px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:56px;
}
#u51 {
  position:absolute;
  left:790px;
  top:1374px;
  width:10px;
  height:40px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u52 {
  position:absolute;
  left:925px;
  top:1374px;
  width:10px;
  height:40px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u53 {
  position:absolute;
  left:790px;
  top:1493px;
  width:10px;
  height:40px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u54 {
  position:absolute;
  left:929px;
  top:1493px;
  width:10px;
  height:40px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u55 {
  position:absolute;
  left:795px;
  top:1528px;
  width:140px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u56 {
  position:absolute;
  left:810px;
  top:1533px;
  width:10px;
  height:40px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u57 {
  position:absolute;
  left:912px;
  top:1533px;
  width:10px;
  height:40px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u58 {
  position:absolute;
  left:1047px;
  top:1070px;
  width:10px;
  height:290px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:273px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:290px;
}
#u59 {
  position:absolute;
  left:996px;
  top:1355px;
  width:57px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:40px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  height:1px;
}
#u60 {
  position:absolute;
  left:587px;
  top:900px;
  width:10px;
  height:60px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u61 {
  position:absolute;
  left:689px;
  top:940px;
  width:202px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:185px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:202px;
  height:1px;
}
#u62 {
  position:absolute;
  left:683px;
  top:945px;
  width:10px;
  height:31px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:14px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:31px;
}
#u63 {
  position:absolute;
  left:529px;
  top:900px;
  width:10px;
  height:60px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:43px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u64 {
  position:absolute;
  left:209px;
  top:550px;
  width:10px;
  height:53px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:36px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:53px;
}
#u65 {
  position:absolute;
  left:182px;
  top:568px;
  width:80px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:513px;
  top:999px;
  width:10px;
  height:50px;
}
#u67_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u67_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u67_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u68 {
  position:absolute;
  left:312px;
  top:945px;
  width:10px;
  height:48px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:31px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:48px;
}
#u69 {
  position:absolute;
  left:317px;
  top:940px;
  width:109px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u70 {
  position:absolute;
  left:471px;
  top:817px;
  width:10px;
  height:38px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:21px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:38px;
}
#u71 {
  position:absolute;
  left:312px;
  top:1049px;
  width:10px;
  height:64px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u72 {
  position:absolute;
  left:420px;
  top:1054px;
  width:10px;
  height:128px;
}
#u72_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u72_end {
  position:absolute;
  left:-5px;
  top:111px;
  width:20px;
  height:18px;
}
#u72_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:128px;
}
#u73 {
  position:absolute;
  left:455px;
  top:270px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:420px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:455px;
  top:170px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:706px;
  top:270px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:703px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:836px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:264px;
  top:270px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:262px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:130px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:970px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:545px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1100px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:870px;
  top:494px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:891px;
  top:872px;
  width:165px;
  height:98px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:98px;
}
#u99_img.mouseOver {
}
#u99.mouseOver {
}
#u100 {
  position:absolute;
  left:2px;
  top:40px;
  width:161px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:451px;
  top:490px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1250px;
  top:490px;
  width:170px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:130px;
  top:490px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u106 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1250px;
  top:370px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:390px;
  top:580px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:451px;
  top:770px;
  width:111px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:435px;
  top:670px;
  width:143px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:509px;
  top:855px;
  width:96px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u115_img.mouseOver {
}
#u115.mouseOver {
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:397px;
  top:855px;
  width:96px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u117_img.mouseOver {
}
#u117.mouseOver {
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:740px;
  top:1020px;
  width:213px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u120 {
  position:absolute;
  left:2px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:977px;
  top:1020px;
  width:103px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:883px;
  top:1124px;
  width:103px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:734px;
  top:1124px;
  width:103px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:50px;
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:630px;
  top:1220px;
  width:196px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:70px;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:874px;
  top:1220px;
  width:145px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:141px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:630px;
  top:1420px;
  width:196px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:70px;
}
#u131_img.mouseOver {
}
#u131.mouseOver {
}
#u132 {
  position:absolute;
  left:2px;
  top:26px;
  width:192px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:861px;
  top:1420px;
  width:196px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:70px;
}
#u133_img.mouseOver {
}
#u133.mouseOver {
}
#u134 {
  position:absolute;
  left:2px;
  top:26px;
  width:192px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:703px;
  top:1326px;
  width:283px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:50px;
}
#u135_img.mouseOver {
}
#u135.mouseOver {
}
#u136 {
  position:absolute;
  left:2px;
  top:16px;
  width:279px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:697px;
  top:1574px;
  width:145px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u137_img.mouseOver {
}
#u137.mouseOver {
}
#u138 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:873px;
  top:1574px;
  width:145px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u139_img.mouseOver {
}
#u139.mouseOver {
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:513px;
  top:580px;
  width:110px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u141_img.mouseOver {
}
#u141.mouseOver {
}
#u142 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:565px;
  top:960px;
  width:119px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u143_img.mouseOver {
}
#u143.mouseOver {
}
#u144 {
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:471px;
  top:960px;
  width:84px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u145_img.mouseOver {
}
#u145.mouseOver {
}
#u146 {
  position:absolute;
  left:2px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:130px;
  top:613px;
  width:160px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u147_img.mouseOver {
}
#u147.mouseOver {
}
#u148 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:471px;
  top:1054px;
  width:84px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
}
#u149_img.mouseOver {
}
#u149.mouseOver {
}
#u150 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:376px;
  top:999px;
  width:96px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u151_img.mouseOver {
}
#u151.mouseOver {
}
#u152 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:261px;
  top:999px;
  width:96px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u153_img.mouseOver {
}
#u153.mouseOver {
}
#u154 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:261px;
  top:1118px;
  width:96px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u155_img.mouseOver {
}
#u155.mouseOver {
}
#u156 {
  position:absolute;
  left:2px;
  top:16px;
  width:92px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:349px;
  top:1182px;
  width:145px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
}
#u157_img.mouseOver {
}
#u157.mouseOver {
}
#u158 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:1286px;
  top:297px;
  width:10px;
  height:68px;
}
#u159_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u159_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:18px;
}
#u159_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:68px;
}
#u160 {
  position:absolute;
  left:565px;
  top:1900px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
