body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  height:46px;
  font-size:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:830px;
  top:19px;
  width:70px;
  height:24px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:800px;
  top:23px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:930px;
  top:23px;
  width:40px;
  height:20px;
  font-size:10px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:80px;
  width:1000px;
  height:1320px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1320px;
}
#u11 {
  position:absolute;
  left:2px;
  top:652px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:270px;
  top:133px;
  width:374px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:322px;
  top:200px;
  width:271px;
  height:29px;
  font-size:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:321px;
  top:270px;
  width:217px;
  height:24px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:96px;
  top:551px;
  width:300px;
  height:304px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:482px;
  top:551px;
  width:300px;
  height:304px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:96px;
  top:876px;
  width:300px;
  height:304px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:482px;
  top:876px;
  width:300px;
  height:304px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:304px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:676px;
  top:370px;
  width:140px;
  height:16px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:96px;
  top:391px;
  width:300px;
  height:112px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:456px;
  top:408px;
  width:300px;
  height:48px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:96px;
  top:320px;
  width:720px;
  height:45px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:45px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:706px;
  top:330px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:96px;
  top:365px;
  width:500px;
  height:100px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:596px;
  top:333px;
  width:100px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
