body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:30px;
  width:160px;
  height:100px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u1 {
  position:absolute;
  left:100px;
  top:530px;
  width:660px;
  height:184px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:184px;
}
#u2 {
  position:absolute;
  left:2px;
  top:84px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:120px;
  top:544px;
  width:138px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:120px;
  top:566px;
  width:140px;
  height:16px;
}
#u6 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7 {
  position:absolute;
  left:120px;
  top:592px;
  width:140px;
  height:16px;
}
#u8 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u7_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9 {
  position:absolute;
  left:277px;
  top:544px;
  width:182px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:277px;
  top:566px;
  width:140px;
  height:16px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:277px;
  top:592px;
  width:173px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:476px;
  top:544px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:476px;
  top:566px;
  width:140px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:476px;
  top:592px;
  width:173px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:120px;
  top:624px;
  width:148px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:120px;
  top:646px;
  width:140px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:120px;
  top:672px;
  width:140px;
  height:32px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:277px;
  top:624px;
  width:192px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:277px;
  top:658px;
  width:140px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:277px;
  top:684px;
  width:173px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:476px;
  top:624px;
  width:240px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:476px;
  top:658px;
  width:140px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:476px;
  top:684px;
  width:173px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:20px;
  top:160px;
  width:129px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:188px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:63px;
  top:188px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:110px;
  top:188px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u45_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u45_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
