body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:620px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:135px;
  top:70px;
  width:390px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:240px;
  width:490px;
  height:176px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:176px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:130px;
  width:510px;
  height:90px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:99px;
  top:152px;
  width:460px;
  height:48px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:48px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:75px;
  top:433px;
  width:510px;
  height:16px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:690px;
  width:260px;
  height:16px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:75px;
  top:643px;
  width:510px;
  height:16px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:187px;
  top:540px;
  width:295px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
