body {
  margin:0px;
  background-color:rgba(244, 244, 244, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:620px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:135px;
  top:70px;
  width:390px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:240px;
  width:490px;
  height:160px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:160px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:454px;
  width:80px;
  height:16px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:220px;
  top:454px;
  width:240px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:140px;
  top:500px;
  width:90px;
  height:16px;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:220px;
  top:495px;
  width:240px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:122px;
  top:578px;
  width:185px;
  height:32px;
  font-size:14px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:75px;
  top:130px;
  width:510px;
  height:90px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:99px;
  top:152px;
  width:460px;
  height:48px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:48px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:75px;
  top:412px;
  width:510px;
  height:16px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:320px;
  top:578px;
  width:140px;
  height:32px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21 {
  position:absolute;
  left:200px;
  top:690px;
  width:260px;
  height:16px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:75px;
  top:643px;
  width:510px;
  height:16px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
