body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../结构梳理-主要内容_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:29px;
    top:18px;
    width:2031px;
    height:398px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:2037px;
    height:404px;
}

.u1 {
    position:absolute;
    left:2px;
    top:191px;
    width:2027px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:150px;
    top:35px;
    width:411px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:150px;
    top:139px;
    width:125px;
    height:57px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u5 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:291px;
    top:139px;
    width:125px;
    height:57px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u7 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:436px;
    top:139px;
    width:125px;
    height:57px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u9 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:150px;
    top:206px;
    width:125px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:291px;
    top:206px;
    width:125px;
    height:57px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u13 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../结构梳理-主要内容_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:291px;
    top:273px;
    width:59px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:63px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:55px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../结构梳理-主要内容_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:357px;
    top:273px;
    width:59px;
    height:57px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:63px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:55px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../结构梳理-主要内容_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:357px;
    top:340px;
    width:59px;
    height:57px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:63px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:55px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../结构梳理-主要内容_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:436px;
    top:206px;
    width:60px;
    height:57px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:63px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../结构梳理-主要内容_files/u20_normal.png');
}

.u22_container {
    position:absolute;
    left:501px;
    top:206px;
    width:60px;
    height:57px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:63px;
}

.u23 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u24_container {
    position:absolute;
    left:609px;
    top:35px;
    width:411px;
    height:80px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u25 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:609px;
    top:139px;
    width:193px;
    height:57px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u27 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:827px;
    top:139px;
    width:193px;
    height:57px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u29 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u30_container {
    position:absolute;
    left:609px;
    top:206px;
    width:193px;
    height:57px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u31 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u32_container {
    position:absolute;
    left:609px;
    top:273px;
    width:193px;
    height:57px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:189px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../结构梳理-主要内容_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:827px;
    top:206px;
    width:94px;
    height:57px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:63px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:90px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../结构梳理-主要内容_files/u34_normal.png');
}

.u36_container {
    position:absolute;
    left:926px;
    top:206px;
    width:94px;
    height:57px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:63px;
}

.u37 {
    position:absolute;
    left:2px;
    top:21px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../结构梳理-主要内容_files/u34_normal.png');
}

.u38_container {
    position:absolute;
    left:827px;
    top:273px;
    width:94px;
    height:57px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:63px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:90px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../结构梳理-主要内容_files/u34_normal.png');
}

.u40_container {
    position:absolute;
    left:926px;
    top:273px;
    width:94px;
    height:57px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:63px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:90px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u42_container {
    position:absolute;
    left:1089px;
    top:35px;
    width:411px;
    height:80px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u43 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:1089px;
    top:139px;
    width:128px;
    height:57px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u45 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:1231px;
    top:139px;
    width:128px;
    height:57px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u47 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:1372px;
    top:139px;
    width:128px;
    height:57px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u49 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u50_container {
    position:absolute;
    left:1089px;
    top:206px;
    width:128px;
    height:57px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u51 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u52_container {
    position:absolute;
    left:1231px;
    top:206px;
    width:128px;
    height:57px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u53 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../结构梳理-主要内容_files/u44_normal.png');
}

.u54_container {
    position:absolute;
    left:1372px;
    top:206px;
    width:128px;
    height:57px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:63px;
}

.u55 {
    position:absolute;
    left:2px;
    top:21px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u56_container {
    position:absolute;
    left:1557px;
    top:35px;
    width:411px;
    height:80px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u57 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../结构梳理-主要内容_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:1557px;
    top:139px;
    width:203px;
    height:57px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:63px;
}

.u59 {
    position:absolute;
    left:2px;
    top:21px;
    width:199px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../结构梳理-主要内容_files/u58_normal.png');
}

.u60_container {
    position:absolute;
    left:1765px;
    top:139px;
    width:203px;
    height:57px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:63px;
}

.u61 {
    position:absolute;
    left:2px;
    top:21px;
    width:199px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u62_container {
    position:absolute;
    left:150px;
    top:450px;
    width:411px;
    height:80px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u63 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u64_container {
    position:absolute;
    left:150px;
    top:554px;
    width:125px;
    height:57px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u65 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u66_container {
    position:absolute;
    left:291px;
    top:554px;
    width:125px;
    height:57px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u67 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../结构梳理-主要内容_files/u4_normal.png');
}

.u68_container {
    position:absolute;
    left:436px;
    top:554px;
    width:125px;
    height:57px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:63px;
}

.u69 {
    position:absolute;
    left:2px;
    top:21px;
    width:121px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../结构梳理-主要内容_files/u14_normal.png');
}

.u70_container {
    position:absolute;
    left:150px;
    top:621px;
    width:59px;
    height:57px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:63px;
}

.u71 {
    position:absolute;
    left:2px;
    top:14px;
    width:55px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../结构梳理-主要内容_files/u14_normal.png');
}

.u72_container {
    position:absolute;
    left:216px;
    top:621px;
    width:59px;
    height:57px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:63px;
}

.u73 {
    position:absolute;
    left:2px;
    top:14px;
    width:55px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../结构梳理-主要内容_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:291px;
    top:621px;
    width:38px;
    height:57px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:63px;
}

.u75 {
    position:absolute;
    left:2px;
    top:14px;
    width:34px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../结构梳理-主要内容_files/u74_normal.png');
}

.u76_container {
    position:absolute;
    left:335px;
    top:621px;
    width:38px;
    height:57px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:63px;
}

.u77 {
    position:absolute;
    left:2px;
    top:14px;
    width:34px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../结构梳理-主要内容_files/u74_normal.png');
}

.u78_container {
    position:absolute;
    left:378px;
    top:621px;
    width:38px;
    height:57px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:63px;
}

.u79 {
    position:absolute;
    left:2px;
    top:14px;
    width:34px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../结构梳理-主要内容_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:436px;
    top:621px;
    width:58px;
    height:57px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u81 {
    position:absolute;
    left:2px;
    top:14px;
    width:54px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../结构梳理-主要内容_files/u80_normal.png');
}

.u82_container {
    position:absolute;
    left:503px;
    top:621px;
    width:58px;
    height:57px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:63px;
}

.u83 {
    position:absolute;
    left:2px;
    top:14px;
    width:54px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u84_container {
    position:absolute;
    left:609px;
    top:450px;
    width:411px;
    height:80px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u85 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../结构梳理-主要内容_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:609px;
    top:554px;
    width:92px;
    height:57px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:63px;
}

.u87 {
    position:absolute;
    left:2px;
    top:21px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../结构梳理-主要内容_files/u86_normal.png');
}

.u88_container {
    position:absolute;
    left:713px;
    top:554px;
    width:92px;
    height:57px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:63px;
}

.u89 {
    position:absolute;
    left:2px;
    top:21px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../结构梳理-主要内容_files/u86_normal.png');
}

.u90_container {
    position:absolute;
    left:820px;
    top:554px;
    width:92px;
    height:57px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:63px;
}

.u91 {
    position:absolute;
    left:2px;
    top:21px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../结构梳理-主要内容_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:609px;
    top:621px;
    width:44px;
    height:57px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:63px;
}

.u93 {
    position:absolute;
    left:2px;
    top:14px;
    width:40px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../结构梳理-主要内容_files/u92_normal.png');
}

.u94_container {
    position:absolute;
    left:658px;
    top:621px;
    width:44px;
    height:57px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:63px;
}

.u95 {
    position:absolute;
    left:2px;
    top:14px;
    width:40px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../结构梳理-主要内容_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:713px;
    top:621px;
    width:28px;
    height:57px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:63px;
}

.u97 {
    position:absolute;
    left:2px;
    top:14px;
    width:24px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../结构梳理-主要内容_files/u96_normal.png');
}

.u98_container {
    position:absolute;
    left:746px;
    top:621px;
    width:28px;
    height:57px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:63px;
}

.u99 {
    position:absolute;
    left:2px;
    top:14px;
    width:24px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../结构梳理-主要内容_files/u96_normal.png');
}

.u100_container {
    position:absolute;
    left:777px;
    top:621px;
    width:28px;
    height:57px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:63px;
}

.u101 {
    position:absolute;
    left:2px;
    top:14px;
    width:24px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../结构梳理-主要内容_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:820px;
    top:621px;
    width:43px;
    height:57px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:63px;
}

.u103 {
    position:absolute;
    left:2px;
    top:6px;
    width:39px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../结构梳理-主要内容_files/u102_normal.png');
}

.u104_container {
    position:absolute;
    left:869px;
    top:621px;
    width:43px;
    height:57px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:63px;
}

.u105 {
    position:absolute;
    left:2px;
    top:6px;
    width:39px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../结构梳理-主要内容_files/u86_normal.png');
}

.u106_container {
    position:absolute;
    left:928px;
    top:554px;
    width:92px;
    height:57px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:63px;
}

.u107 {
    position:absolute;
    left:2px;
    top:21px;
    width:88px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../结构梳理-主要内容_files/u102_normal.png');
}

.u108_container {
    position:absolute;
    left:928px;
    top:621px;
    width:43px;
    height:57px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:63px;
}

.u109 {
    position:absolute;
    left:2px;
    top:21px;
    width:39px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../结构梳理-主要内容_files/u102_normal.png');
}

.u110_container {
    position:absolute;
    left:977px;
    top:621px;
    width:43px;
    height:57px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:63px;
}

.u111 {
    position:absolute;
    left:2px;
    top:14px;
    width:39px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u112_container {
    position:absolute;
    left:1089px;
    top:450px;
    width:411px;
    height:80px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u113 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u114_container {
    position:absolute;
    left:1089px;
    top:554px;
    width:193px;
    height:57px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u115 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u116_container {
    position:absolute;
    left:1307px;
    top:554px;
    width:193px;
    height:57px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u117 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:1089px;
    top:621px;
    width:91px;
    height:57px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u119 {
    position:absolute;
    left:2px;
    top:14px;
    width:87px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u120_container {
    position:absolute;
    left:1191px;
    top:621px;
    width:91px;
    height:57px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u121 {
    position:absolute;
    left:2px;
    top:21px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u122_container {
    position:absolute;
    left:1307px;
    top:621px;
    width:91px;
    height:57px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u123 {
    position:absolute;
    left:2px;
    top:14px;
    width:87px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u124_container {
    position:absolute;
    left:1409px;
    top:621px;
    width:91px;
    height:57px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u125 {
    position:absolute;
    left:2px;
    top:21px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u126_container {
    position:absolute;
    left:1409px;
    top:688px;
    width:91px;
    height:57px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u127 {
    position:absolute;
    left:2px;
    top:21px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../结构梳理-主要内容_files/u2_normal.png');
}

.u128_container {
    position:absolute;
    left:1540px;
    top:450px;
    width:411px;
    height:80px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:417px;
    height:86px;
}

.u129 {
    position:absolute;
    left:2px;
    top:32px;
    width:407px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u130_container {
    position:absolute;
    left:1540px;
    top:554px;
    width:193px;
    height:57px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u131 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u132_container {
    position:absolute;
    left:1758px;
    top:554px;
    width:193px;
    height:57px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u133 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u134_container {
    position:absolute;
    left:1540px;
    top:621px;
    width:91px;
    height:57px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u135 {
    position:absolute;
    left:2px;
    top:21px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../结构梳理-主要内容_files/u118_normal.png');
}

.u136_container {
    position:absolute;
    left:1642px;
    top:621px;
    width:91px;
    height:57px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:63px;
}

.u137 {
    position:absolute;
    left:2px;
    top:21px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u138_container {
    position:absolute;
    left:1758px;
    top:621px;
    width:193px;
    height:57px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u139 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u140_container {
    position:absolute;
    left:1758px;
    top:688px;
    width:193px;
    height:57px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u141 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../结构梳理-主要内容_files/u26_normal.png');
}

.u142_container {
    position:absolute;
    left:1758px;
    top:755px;
    width:193px;
    height:57px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:199px;
    height:63px;
}

.u143 {
    position:absolute;
    left:2px;
    top:21px;
    width:189px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:59px;
    top:155px;
    width:22px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:59px;
    top:515px;
    width:22px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

